Options +MultiViews

AddLanguage fr .fr
AddLanguage en .en
AddLanguage de .de
AddLanguage es .es
AddLanguage it .it


# Définit la priorité si le navigateur ne précise rien
#LanguagePriority en fr es de it
